*{
    box-sizing: border-box;
}
body{
    background-image: url(img/background2.png);
    background-size: cover;
}
h1{
    text-align: center;
    
}
#fotos{
    width: 50%;
    float: left;
    text-align: right;
    height: 300px;
}
img{
    height: 500px;
    width: 500px;
}
#pistas{
    width: 50%;
    float: left;
    text-align: center;
    margin-left: -3%;
    margin-top: 50px;
}
#formulario{
    float: left;
    width: 50%;
    text-align: center;
    margin-left: -3%;
    margin-top: 50px;
}
.hidden{
    display: none;
}